body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}

#cabecalho {
    text-align: center;
}

h1 {
  text-align: center;
}

.filters {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead th {
    background-color: rgba(65, 65, 65, 0.75);
    color: white
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #333;
  color: white;
}

.summary {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

#chartTitle {
    text-align: center;
}