body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}

#cabecalho {
    text-align: center;
}

h1,h2 {
  text-align: center;
}


.filters {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead th {
    background-color: rgba(65, 65, 65, 0.75);
    color: white
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #333;
  color: white;
}

.summary {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

div.last-update {
  text-align: center;
  font-size: 0.8rem;
}

#chartTitle {
    text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(65, 65, 65, 0.1);
  opacity: 0.8;
}

#footer {
  text-align: center;
}

.filter-summary {
    margin-top: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #1e3a8a;
    border-radius: 4px;
}

.filter-summary p {
    margin: 0;
    font-size: 14px;
}